node_modules
/.vscode
/node_modules
./dist

build
coverage

*.env
.env
**/.git
**/.svn
**/.hg
**/node_modules
**/.git
**/.svn
**/.hg

generators
coverage
build
# fixtures
LICENSE
README.md
.editorconfig
.eslintignore
.gitattributes
.gitignore
.gitkeep
.prettierignore
*.ejs
*.snap


*.svg
*.png
*.ico
*.sh
*.pxd

.github/ISSUE_TEMPLATE
.dockerignore
.DS_Store
.eslintignore
.gitattributes
.gitignore
.prettierignore
Dockerfile
LICENSE
pnpm-lock.yaml

dist

cdn.pagic.org

src/vendors
src/types
src/**/prism_tomorrow.css
src/**/prism.css

test/fixtures/walk
test/fixtures/test_*